{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}
    {% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    {% include 'home/blocks/owl-carousel.html' %}
    {% include 'home/blocks/our_service.html' %}
    {% include 'home/blocks/in-sight.html' %}
    {% include 'home/blocks/owl-carousel2.html' %}
    {% include 'home/blocks/testimonials.html' %}
    {% include 'home/blocks/online_quote.html' %}
    {% include 'home/blocks/our_process.html' %}
    {% include 'home/blocks/latest-news_and_faq.html' %}
    {% include 'home/blocks/brands.html' %}

{% endblock content %}
