{% load i18n wagtailcore_tags %}
  <section class="border-0 custom-bg-color-grey-1 pt-5 custom-el-pos-3 p-relative z-index-1">
            <div class="container py-5">
                <div class="row justify-content-between pt-5">
                    <div class="col-lg-5">
                        <h3 class="font-weight-semibold text-9 text-capitalize mb-2">Latest News</h3>
                        <div class="divider divider-small mt-0 mb-4">
                            <hr class="bg-primary">
                        </div>
                        <div class="card border-0 bg-transparent">
                            <div class="card-img-top position-relative overlay">
                                <a href="#" class="stretched-link">
											<span class="position-absolute bottom-10 left-0 d-flex justify-content-start w-100 py-3 px-4 z-index-3">
												<span class="text-center bg-primary text-color-light font-weight-semibold line-height-2 px-3 py-2">
													<span class="position-relative text-6 z-index-2">
														18
														<span class="d-block text-0 positive-ls-2 px-1">FEB</span>
													</span>
												</span>
											</span>
                                    <img src="/static/img/demos/transportation-logistic/blog/post-thumb-1.jpg" class="img-fluid"
                                         alt="Lorem Ipsum Dolor"/>
                                </a>
                            </div>
                            <div class="card-body py-4 px-0">
                                <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                                <h4 class="font-weight-bold text-5 text-color-hover-primary mb-2">What to know about
                                    Shipping Companies.</h4>
                                <p class="text-3-5 mb-3">When shipping your goods to West Africa, there are a few things
                                    you should know...</p>
                                <p class="m-0"><a href="#"
                                                  class="text-uppercase text-3 text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-3ms d-inline-block stretched-link">Read
                                    More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-0">
                        <h3 class="font-weight-semibold text-9 text-capitalize mb-2">FAQ's</h3>
                        <div class="divider divider-small mt-0 mb-4">
                            <hr class="bg-primary">
                        </div>

                        <div class="accordion accordion-modern-status accordion-modern-status-primary"
                             id="accordion100">
                            <div class="card card-default">
                                <div class="card-header" id="collapse100HeadingOne">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-light text-color-dark font-weight-bold collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#collapse100One"
                                           aria-expanded="false" aria-controls="collapse100One">
                                            1 - How long does shipping to Lagos, Nigeria, take?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse100One" class="collapse" aria-labelledby="collapse100HeadingOne"
                                     data-bs-parent="#accordion100">
                                    <div class="card-body">
                                        <p class="mb-0">.Transit times vary based on the shipping method, but air
                                            freight typically takes 5-7 days, while sea freight can take 4-6 weeks. We
                                            provide estimated delivery dates upon booking.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse100HeadingTwo">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-light text-color-dark font-weight-bold collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#collapse100Two"
                                           aria-expanded="false" aria-controls="collapse100Two">
                                            2 - What items can I ship to Lagos??
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse100Two" class="collapse" aria-labelledby="collapse100HeadingTwo"
                                     data-bs-parent="#accordion100">
                                    <div class="card-body">
                                        <p class="mb-0">You can ship most personal and commercial goods, including
                                            household items, electronics, and business supplies. However, restricted or
                                            prohibited items like hazardous materials, perishable goods, and certain
                                            chemicals require special approval.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse100HeadingThree">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-light text-color-dark font-weight-bold collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#collapse100Three"
                                           aria-expanded="false" aria-controls="collapse100Three">
                                            3 - Do you offer door-to-door delivery?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse100Three" class="collapse" aria-labelledby="collapse100HeadingThree"
                                     data-bs-parent="#accordion100">
                                    <div class="card-body">
                                        <p class="mb-0">.Yes! We provide full door-to-door cargo service, handling
                                            pickup, customs clearance, and final delivery to your destination in Lagos,
                                            ensuring a hassle-free experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse100HeadingFour">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-light text-color-dark font-weight-bold collapsed"
                                           data-bs-toggle="collapse" data-bs-target="#collapse100Four"
                                           aria-expanded="false" aria-controls="collapse100Four">
                                            4 - How much does shipping cost?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse100Four" class="collapse" aria-labelledby="collapse100HeadingFour"
                                     data-bs-parent="#accordion100">
                                    <div class="card-body">
                                        <p class="mb-0">Shipping costs depend on the size, weight, and type of cargo, as
                                            well as the shipping method (air or sea). Contact us today for a free,
                                            no-obligation quote!.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="m-0 mt-5"><a href="#"
                                               class="text-uppercase text-3 text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-3ms d-inline-block">Read
                            More</a></p>
                    </div>
                </div>
            </div>
        </section>