{% load i18n wagtailcore_tags %}
<div class="container-fluid p-0 mx-0 custom-carousel-1-wrapper">
            <div class="row gx-0">
                <div class="col-lg-4">
                    <div class="custom-carouse-1-title bg-tertiary p-2 mt-5">
                        <h4 class="text-color-light text-6 font-weight-semi-bold d-block text-center text-lg-end p-3 m-0">
                            <span class="d-block me-lg-5 pe-lg-4 p-relative bottom-2"><span
                                    class="d-inline-block appear-animation" data-appear-animation="fadeInUpShorterPlus"
                                    data-appear-animation-delay="0">Our Services</span></span></h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="carousel-half-full-width-wrapper carousel-half-full-width-right custom-carousel-1">
                        <div class="owl-carousel owl-theme carousel-half-full-width-right nav-bottom nav-bottom-align-left nav-style-1 nav-light nav-arrows-thin nav-font-size-lg mb-0"
                             data-plugin-options="{'responsive': {'0': {'items': 1,  'autoplay': true, 'autoplayTimeout': 3000}, '768': {'items': 1,  'autoplay': true, 'autoplayTimeout': 3000}, '992': {'items': 2}, '1200': {'items': 3}}, 'loop': false, 'nav': true, 'dots': false, 'margin': 0}">
                            <div class="anim-hover-translate-top-10px transition-3ms">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="d-flex flex-row">
                                            <div class="pt-2">
                                                <img width="70" height="43"
                                                     src="static/img/demos/transportation-logistic/icons/service-1.svg" alt=""
                                                     data-icon
                                                     data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                                            </div>
                                            <div class="ps-4">
                                                <h4 class="mb-2 text-5 font-weight-semi-bold">Ground Delivery</h4>
                                                <p class="mb-2 font-weight-medium text-3"> We are one of the UK’s major
                                                    cargo providers ensuring safe delivery.</p>
                                                <a href="#"
                                                   class="text-uppercase text-2-5 stretched-link text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-2ms d-inline-block">View
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="anim-hover-translate-top-10px transition-3ms">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="d-flex flex-row">
                                            <div class="pt-2">
                                                <img width="70" height="26"
                                                     src="/static/img/demos/transportation-logistic/icons/service-2.svg" alt=""
                                                     data-icon
                                                     data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                                            </div>
                                            <div class="ps-4">
                                                <h4 class="mb-2 text-5 font-weight-semi-bold">Air Freight</h4>
                                                <p class="mb-2 font-weight-medium text-3">Fast, reliable, global,
                                                    efficient, secure, time-sensitive, cost-effective.</p>
                                                <a href="#"
                                                   class="text-uppercase text-2-5 stretched-link text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-2ms d-inline-block">View
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="anim-hover-translate-top-10px transition-3ms">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="d-flex flex-row">
                                            <div class="pt-2">
                                                <img width="58" height="49"
                                                     src="/static/img/demos/transportation-logistic/icons/service-3.svg" alt=""
                                                     data-icon
                                                     data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                                            </div>
                                            <div class="ps-4">
                                                <h4 class="mb-2 text-5 font-weight-semi-bold">Storage/Warehouse</h4>
                                                <p class="mb-2 font-weight-medium text-3">Secure, spacious, organized,
                                                    efficient, scalable, accessible, reliable.</p>
                                                <a href="#"
                                                   class="text-uppercase text-2-5 stretched-link text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-2ms d-inline-block">View
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="anim-hover-translate-top-10px transition-3ms">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="d-flex flex-row">
                                            <div class="pt-2">
                                                <img width="70" height="26"
                                                     src="/static/img/demos/transportation-logistic/icons/service-2.svg" alt=""
                                                     data-icon
                                                     data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                                            </div>
                                            <div class="ps-4">
                                                <h4 class="mb-2 text-5 font-weight-semi-bold">Excess Baggage</h4>
                                                <p class="mb-2 font-weight-medium text-3">Affordable, convenient,
                                                    secure, hassle-free, reliable, flexible, fast.</p>
                                                <a href="#"
                                                   class="text-uppercase text-2-5 stretched-link text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-2ms d-inline-block">View
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="anim-hover-translate-top-10px transition-3ms">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="d-flex flex-row">
                                            <div class="pt-2">
                                                <img width="70" height="43"
                                                     src="/static/img/demos/transportation-logistic/icons/service-1.svg" alt=""
                                                     data-icon
                                                     data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                                            </div>
                                            <div class="ps-4">
                                                <h4 class="mb-2 text-5 font-weight-semi-bold">Ground Shipping</h4>
                                                <p class="mb-2 font-weight-medium text-3">Lorem ipsum dolor sit amet,
                                                    conse ctetur adipi scing elit.</p>
                                                <a href="#"
                                                   class="text-uppercase text-2-5 stretched-link text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-2ms d-inline-block">View
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>