{% load i18n wagtailcore_tags %}
<div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 p-0 bg-position-center bg-no-repeat"
                     style="background: url(img/demos/transportation-logistic/generic/generic-3.png);">
                    <div class="h-100 m-0">
                        <div class="row m-0 py-3">
                            <div class="col-half-section col-half-section-right py-5 ms-auto">
                                <div class="px-3 py-5">

                                    <p class="font-weight-medium text-8 line-height-4 text-color-tertiary negative-ls-1">
                                        <span class="d-lg-inline-block appear-animation"
                                              data-appear-animation="fadeInUpShorterPlus"
                                              data-appear-animation-delay="0">Our <strong>process</strong> is one of the things</span><span
                                            class="d-lg-inline-block appear-animation"
                                            data-appear-animation="fadeInUpShorterPlus"
                                            data-appear-animation-delay="200"> that makes us stand out</span><span
                                            class="d-lg-inline-block appear-animation"
                                            data-appear-animation="fadeInUpShorterPlus"
                                            data-appear-animation-delay="400"> in the logistic market.</span></p>

                                    <div class="process process-vertical py-4">
                                        <div class="process-step appear-animation"
                                             data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                                            <div class="process-step-circle bg-tertiary border-0">
                                                <strong class="process-step-circle-content text-light">1</strong>
                                            </div>
                                            <div class="process-step-content">
                                                <h4 class="mb-0 mt-1 text-4-5 font-weight-bold">Receiving</h4>
                                                <p class="mb-0 font-weight-medium text-3-5">We pick up from your door or
                                                    our Store.</p>
                                            </div>
                                        </div>
                                        <div class="process-step appear-animation"
                                             data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                                            <div class="process-step-circle bg-tertiary border-0">
                                                <strong class="process-step-circle-content text-light">2</strong>
                                            </div>
                                            <div class="process-step-content">
                                                <h4 class="mb-0 mt-1 text-4-5 font-weight-bold">Shipping</h4>
                                                <p class="mb-0 font-weight-medium text-3-5">Premium and fast considering
                                                    cost and time.</p>
                                            </div>
                                        </div>
                                        <div class="process-step appear-animation"
                                             data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                                            <div class="process-step-circle bg-tertiary border-0">
                                                <strong class="process-step-circle-content text-light">3</strong>
                                            </div>
                                            <div class="process-step-content">
                                                <h4 class="mb-0 mt-1 text-4-5 font-weight-bold">Delivery</h4>
                                                <p class="mb-0 font-weight-medium text-3-5">Pick up or we deliver to
                                                    your door.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 p-0 p-relative z-index-2">
                    <section class="parallax custom-parallax-1 section section-parallax h-100 m-0" data-plugin-parallax
                             data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}"
                             data-image-src="/static/img/demos/transportation-logistic/generic/generic-2.jpg"
                             style="min-height: 500px;">
                    </section>
                </div>
            </div>
        </div>