{% load i18n wagtailcore_tags %}

<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-1 nav-arrows-thin nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0"
             data-plugin-options="{'autoplay': true, 'autoplayTimeout': 700000}" style="height: 800px;">
            <div class="owl-stage-outer">
                <div class="owl-stage">

                    <!-- Carousel Slide 1 -->
                    <div class="owl-item position-relative overflow-hidden">
                        <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0"
                             data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s"
                             data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show
                             style="background-image: url(/static/img/demos/transportation-logistic/slides/slide-1.jpg); background-size: cover; background-position: center;"></div>
                        <div class="container-fluid h-100 px-lg-5 mx-lg-5 pb-5">
                            <div class="row h-100 p-relative z-index-1 gx-5 pb-5">
                                <div class="col">
                                    <div class="p-absolute top-50pct appear-animation"
                                         data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"
                                         data-plugin-options="{'minWindowWidth': 0}">
                                        <h3 class="text-color-light rotate-r-90 font-weight-bold ls-0 p-relative left-0 custom-font-size-1 pe-5 ws-nowrap">
                                            We Deliver</h3>
                                    </div>
                                    <div class="p-absolute top-50pct appear-animation"
                                         data-appear-animation="fadeInRightShorterPlus"
                                         data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">
                                        <h3 class="custom-stroke-text-effect-1 color-transparent rotate-r-90 font-weight-bold ls-0 p-relative custom-text-pos-1 custom-font-size-1 pe-5 ws-nowrap">
                                            We Deliver</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Slide 2 -->
                    <div class="owl-item position-relative overflow-hidden">
                        <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0"
                             data-appear-animation="kenBurnsToRight" data-appear-animation-duration="30s"
                             data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show
                             style="background-image: url(/static/img/demos/transportation-logistic/slides/slide-2.jpg); background-size: cover; background-position: center;"></div>
                        <div class="container-fluid h-100 px-lg-5 mx-lg-5 pb-5 text-end">
                            <div class="row h-100 p-relative z-index-1 gx-5 pb-5">
                                <div class="col">
                                    <h3 class="text-color-light rotate-r-90 font-weight-bold ls-0 p-absolute top-50pct right-0 custom-font-size-1 pe-5 ws-nowrap">
                                        We Deliver</h3>
                                    <h3 class="custom-stroke-text-effect-1 color-transparent rotate-r-90 font-weight-bold ls-0 p-absolute top-50pct custom-text-pos-2 custom-font-size-1 pe-5 ws-nowrap">
                                        We Deliver</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
                <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
            </div>
        </div>