{% load i18n wagtailcore_tags %}
<section class="border-0 section-intro">
            <div class="container py-5 mt-5">
                <div class="row mt-4">
                    <div class="col-lg-5">
                        <p class="custom-drop-caps font-weight-medium text-4"><span
                                class="custom-drop-caps-number text-color-dark negative-ls-1"><span
                                class="d-inline-block appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="0">12</span></span> years in business and still delivering
                            value to our customer base.</p>
                        <p class="m-0"><a href="#"
                                          class="text-uppercase text-3-5 text-decoration-underline text-color-primary text-color-hover-tertiary font-weight-semi-bold transition-3ms d-inline-block">View
                            More About Us</a></p>
                    </div>
                    <div class="d-none d-lg-block col-lg-1 text-center">
                        <div class="vr bg-primary opacity-10 custom-vr-1"></div>
                    </div>
                    <div class="pb-5 pb-lg-0 my-5 my-lg-0 col-lg-6">
                        <p class="font-weight-medium text-8 line-height-4 text-color-tertiary negative-ls-1 p-relative bottom-10">
                            <span class="d-lg-inline-block appear-animation" data-appear-animation="fadeInUpShorterPlus"
                                  data-appear-animation-delay="0">We are <strong>committed</strong> to providing our</span>
                            <span class="d-lg-inline-block appear-animation" data-appear-animation="fadeInUpShorterPlus"
                                  data-appear-animation-delay="200">clients the best logistic and</span><span
                                class="d-lg-inline-block appear-animation" data-appear-animation="fadeInUpShorterPlus"
                                data-appear-animation-delay="400"> transportation services.</span></p>
                    </div>
                </div>
            </div>
        </section>