{% load i18n wagtailcore_tags %}
<div class="bg-gradient m-0">
            <div class="container py-2">
                <div class="row align-items-center text-center text-lg-start py-5">
                    <div class="col-lg-9 mb-3 mb-lg-0">
                        <p class="text-color-light text-4-5 font-weight-medium line-height-4 mb-0">
									<span class="d-inline-block appear-animation"
                                          data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="0">
										<strong>Need Quote?</strong> - Need Immediate Confirmation? Talk to us <u>02030869073</u>
									</span>
                        </p>
                    </div>
                    <div class="col-lg-3 pt-3 pt-lg-0 text-center text-lg-end">
								<span class="d-inline-block appear-animation"
                                      data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300">
									<a href="#"
                                       class="btn btn-light text-color-tertiary border-0 text-3-5 font-weight-semi-bold btn-px-5 btn-py-3" data-bs-toggle="modal" data-bs-target="#cargoCalculatorModal">Request Rate</a>
								</span>
                    </div>
                </div>
            </div>
        </div>