{% load i18n wagtailcore_tags %}
<section class="border-0 custom-bg-color-grey-1">
            <div class="container py-5">
                <div class="row pb-3">
                    <div class="col pb-5 mb-3">

                        <div class="owl-carousel owl-theme nav-dark nav-style-1 nav-arrows-thin nav-font-size-lg nav-outside mb-0 custom-el-pos-1"
                             data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 3}}, 'loop': false, 'nav': true, 'dots': false, 'margin': 20}">
                            <div>
										<span class="thumb-info thumb-info-swap-content anim-hover-inner-wrapper">
											<span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content">
												<img src="/static/img/demos/transportation-logistic/services/service-1.jpg"
                                                     class="img-fluid" alt="">
												<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0 text-center">
													<span class="thumb-info-swap-content-wrapper">
														<span class="thumb-info-inner text-3-5 pb-2">
															Cargo Delivery
														</span>
														<span class="thumb-info-inner text-2">
															<p class="px-5 text-2 opacity-7 font-weight-medium text-light ls-0">We offer same day cargo service for your packages.</p>
															<a href="#"
                                                               class="btn border-0 px-3 py-1 line-height-8 btn-primary ls-0">View Details</a>
														</span>
													</span>
												</span>
											</span>
										</span>
                            </div>
                            <div>
										<span class="thumb-info thumb-info-swap-content anim-hover-inner-wrapper">
											<span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content">
												<img src="/static/img/demos/transportation-logistic/services/service-2.jpg"
                                                     class="img-fluid" alt="">
												<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0 text-center">
													<span class="thumb-info-swap-content-wrapper">
														<span class="thumb-info-inner text-3-5 pb-2">
															Excess Baggage
														</span>
														<span class="thumb-info-inner text-2">
															<p class="px-5 text-2 opacity-7 font-weight-medium text-light ls-0">Items cant fly? Say Hi !.</p>
															<a href="#"
                                                               class="btn border-0 px-3 py-1 line-height-8 btn-primary ls-0">View Details</a>
														</span>
													</span>
												</span>
											</span>
										</span>
                            </div>
                            <div>
										<span class="thumb-info thumb-info-swap-content anim-hover-inner-wrapper">
											<span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content">
												<img src="/static/img/demos/transportation-logistic/services/service-3.jpg"
                                                     class="img-fluid" alt="">
												<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0 text-center">
													<span class="thumb-info-swap-content-wrapper">
														<span class="thumb-info-inner text-3-5 pb-2">
															Storage facility
														</span>
														<span class="thumb-info-inner text-2">
															<p class="px-5 text-2 opacity-7 font-weight-medium text-light ls-0">Not ready to ship? We can store your goods.</p>
															<a href="#"
                                                               class="btn border-0 px-3 py-1 line-height-8 btn-primary ls-0">View Details</a>
														</span>
													</span>
												</span>
											</span>
										</span>
                            </div>
                            <div>
										<span class="thumb-info thumb-info-swap-content anim-hover-inner-wrapper">
											<span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content">
												<img src="/static/img/demos/transportation-logistic/services/service-2.jpg"
                                                     class="img-fluid" alt="">
												<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0 text-center">
													<span class="thumb-info-swap-content-wrapper">
														<span class="thumb-info-inner text-3-5 pb-2">
															Local Pickup and Delivery
														</span>
														<span class="thumb-info-inner text-2">
															<p class="px-5 text-2 opacity-7 font-weight-medium text-light ls-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
															<a href="#"
                                                               class="btn border-0 px-3 py-1 line-height-8 btn-primary ls-0">View Details</a>
														</span>
													</span>
												</span>
											</span>
										</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>