{% load i18n wagtailcore_tags %}
 <section class="border-0 text-center custom-el-pos-2">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <h2 class="custom-heading-1"><span class="d-inline-block appear-animation"
                                                           data-appear-animation="fadeInUpShorterPlus"
                                                           data-appear-animation-delay="0">testimonials</span></h2>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col">
                        <div class="pb-3">
                            <img width="68" src="/static/img/demos/transportation-logistic/icons/quote.svg" alt="" data-icon
                                 data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-tertiary'}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div class="owl-carousel owl-theme nav-dark nav-style-1 nav-arrows-thin nav-font-size-lg nav-outside mb-0"
                             data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'nav': true, 'dots': false, 'margin': 20}">
                            <div>
                                <div class="testimonial testimonial-style-5 px-lg-5 mx-lg-5">
                                    <blockquote>
                                        <p class="mb-0 line-height-8 font-weight-medium text-4">I recently sent a
                                            shipment to Lagos, Nigeria, using their door-to-door cargo service, and I
                                            couldn’t be happier! The process was seamless, my package arrived on time,
                                            and everything was in perfect condition. Their team was professional, kept
                                            me updated, and made the whole experience stress-free. I highly recommend
                                            their service for anyone needing reliable freight shipping!</p>
                                    </blockquote>
                                    <div class="testimonial-author border-0">
                                        <p><strong class="font-weight-extra-bold pt-2">Adewale Aluko</strong><span>CEO - Adekol</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-5 px-lg-5 mx-lg-5">
                                    <blockquote>
                                        <p class="mb-0 line-height-8 font-weight-medium text-4">Fantastic door-to-door
                                            cargo service to Abuja! My shipment arrived safely and right on time. The
                                            team handled everything professionally, from pickup to delivery, and kept me
                                            informed throughout the process. I’ll definitely use them again for my
                                            future shipments!</p>
                                    </blockquote>
                                    <div class="testimonial-author border-0">
                                        <p><strong class="font-weight-extra-bold pt-2">Chinedu Amaechi</strong><span>Aldershot UK</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-5 px-lg-5 mx-lg-5">
                                    <blockquote>
                                        <p class="mb-0 line-height-8 font-weight-medium text-4">Superb service! I
                                            shipped freight to Lagos, and it was delivered straight to the door without
                                            any hassle. The entire process was smooth, with great communication and
                                            timely updates. Reliable, efficient, and highly recommended for
                                            international cargo shipping!</p>
                                    </blockquote>
                                    <div class="testimonial-author border-0">
                                        <p><strong class="font-weight-extra-bold pt-2">Miriam Mohammed</strong><span>Lagos Nigeria</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>